Django==4.1
djangorestframework==3.13.1
asgiref
certifi
charset-normalizer
click
config
coreapi
coreschema
django-createsuperuser
djangorestframework-simplejwt
djongo
dnspython
drf-yasg
gunicorn
idna
inflection
itypes
Jinja2
MarkupSafe
packaging
Pillow
PyJWT
pymongo
pytz
requests
ruamel.yaml
ruamel.yaml.clib
sqlparse
uritemplate
urllib3
whitenoise
